.small {
	
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color:#000000;
	
	}

    .loginTopBg {
        background:url(images/loginTopBg.gif) repeat-x;
    }

    .loginTopShade {
        background:url(images/loginTopShade.gif) repeat-x;
    }

    .loginBg{
        background:#818181 url(images/loginBg.gif) repeat-x;
    }

    .textbox {
        border:1px solid #999999;
        background-color:#ffffff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        width:120px;
        padding:2px;

    }
    .loginBottomBg {
        background:url(images/loginBottomBg.gif) repeat-x;
    }
    .loginSignin {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #818181;
        font-weight:bold;
    }

    .loginBillBoard {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        color:#ffffff;
    }

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
color:#333366;

}

a:hover {
	  font-family: Arial, Helvetica, sans-serif;
	  font-size: 11px;
	  text-decoration:underline;
color:#333333;

  }
