BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #333; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
A {
	COLOR: #c64934; TEXT-DECORATION: none
}
A:hover {
	COLOR: #30569d; TEXT-DECORATION: underline
}
A:active {
	COLOR: #333333; TEXT-DECORATION: underline
}

TABLE.menubar {
	WIDTH: 100%
}
TD {
	FONT-SIZE: 11px
}
TABLE.adminheading {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; COLOR: #c64934; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}

TABLE.adminheading TD {
	COLOR: #000
}
TABLE.adminform {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #d5d5d5 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #d5d5d5 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #f9f9f9
}
TABLE.adminform TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; TEXT-ALIGN: left
}
TABLE.cpanel TD {
	TEXT-ALIGN: center
}
FORM {
	MARGIN: 0px
}
DIV.centermain {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.main {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 99%; PADDING-TOP: 0px
}
#cpanel {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: center
}
#cpanel DIV.icon {
	MARGIN: 3px
}
#cpanel DIV.icon A {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ddd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #ddd 1px solid; WIDTH: 110px; PADDING-TOP: 2px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 100px; TEXT-DECORATION: none
}
#cpanel DIV.icon A:link {
	COLOR: #808080
}
#cpanel DIV.icon A:hover {
	BORDER-RIGHT: #c24733 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #c24733 1px solid; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; BORDER-LEFT: #c24733 1px solid; COLOR: #333; PADDING-TOP: 3px; BORDER-BOTTOM: #c24733 1px solid; BACKGROUND-COLOR: #f1e8e6
}
#cpanel DIV.icon A:active {
	COLOR: #808080
}
#cpanel DIV.icon A:visited {
	COLOR: #808080
}
#cpanel DIV.icon IMG {
	MARGIN-TOP: 13px
}
#cpanel DIV.icon SPAN {
	DISPLAY: block; PADDING-TOP: 3px
}
A.tooltip {
	COLOR: black; BORDER-BOTTOM: #aaa 1px dashed; TEXT-DECORATION: none
}
A.tooltip:hover {
	COLOR: black; BORDER-BOTTOM: #aaa 1px dashed; TEXT-DECORATION: none
}
A.tooltiplink {
	DISPLAY: block; WIDTH: 100%
}
A.tooltiplink:hover {
	TEXT-DECORATION: none
}
DIV.footer {
	CLEAR: both; MARGIN-TOP: 10px
}

/*
--------------------------------------------------------------------------------
What:	"Oranges in the sky" Styles(Table data design)
Who:	Krasimir Makaveev(krasi [at] makaveev [dot] com)
When:	15.09.2005(created)
--------------------------------------------------------------------------------
*/

table.grid {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc; 
	color: #333;
}



table.grid a {
	text-decoration: none;
	border-bottom: 1px dotted #f60;
	color: #f60;
	font-weight: bold;
}

table.grid a:hover {
	text-decoration: none;
	color: #fff;
	background: #f60;
}

table.grid tr th a {
	color: #369;
	border-bottom: 1px dotted #369;
}

table.grid tr th a:hover {
	color: #fff;
	background: #369;
}

table.grid thead tr th {
	text-transform: uppercase;
	background: #e2e2e2;
	font-size:9px;
}

table.grid tfoot tr th, table.grid tfoot tr td {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	
}

table.grid td{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	FONT-SIZE: 12px;
}

table.grid th {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-size:12px;
	
}

table.grid tr.odd th, table.grid tr.odd td {
	background: #efefef;
}

/***********************************************/
.form {
	border-right: #ccc 1px solid; 
	padding-right: 1px; 
	border-top: #ccc 1px solid; 
	padding-left: 1px; 
	background: #ffffff; 
	font: 12px Arial, Helvetica, sans-serif; 
	border-left: #ccc 1px solid; 
	border-bottom: #ccc 1px solid
}
.infoText {
	color: #f60;
	font-weight: bold;
	padding-left: 10px;
}
input.btn {
	border-right: #666 1px solid; 
	border-top: #999 1px solid; 
	font-weight: bold; 
	border-left: #999 1px solid; 
	color: #333; 
	border-bottom: #666 1px solid; 
	font-family: 'trebuchet ms',helvetica,sans-serif;
	filter:progid:DXImageTransform.Microsoft.Gradient
      (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#efefef');
}