body {
	margin: 0px;
	padding: 0px;
	color : #333;
	background-color : #FFF;
	font-size : 11px;
	font-family : Arial, Helvetica, sans-serif;
}

#wrapper {
        border: 0px;
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
}

form {
    margin: 0px;
}


.button {
	border : solid 1px #cccccc;
	background: #E9ECEF;
	color : #666666;
	font-weight : bold;
	font-size : 11px;
	padding: 4px;
}

.login {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6em;
	padding: 15px;
	border: 1px solid #ccc;
	width: 409px;
	background: #efefef;
}
	

.login p {
	padding: 0 1em 0 1em;
	}
	
.form-block {
	border: 1px solid #ccc;
	background: #EFEFEF;
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}

.login-form {
	text-align: left;
	float: right;
	width: 60%;
}

.login-text {
	text-align: left;
	width: 40%;
	float: left;
}

.inputlabel {
	font-weight: bold;
	text-align: left;
	}

.inputbox {
	width: 150px;
	margin: 0 0 1em 0;
	border: 1px solid #cccccc;
	}

.clr {
    clear:both;
    }

.ctr {
	text-align: left;
	padding-top: 50px;
}
.panelTitle {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: large;
}
