.small {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.big {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #aaaaaa;
	font-weight:bold;
}
.genHeaderBig{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	font-weight:bold;
}
.genHeaderSmall{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	font-weight:bold;
}

.moduleName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
	font-weight:bold;
}

.rssDisplayPanel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 12px;
	color: #ABABAB;
}
.hdrNameBg {

	background:url(images/topBg.gif);
}

.hdrTabBg {
	background:#bbbbbb url(images/tabUnSelectedBg.gif) repeat-x ;
}

.tabSelected {
	background:#bbbbbb url(images/tabSelectedBg.gif) repeat-x;
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;

}

.tabUnSelected {
	background:#bbbbbb url(images/tabUnSelectedBg.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;
}

.tabSeperator {
	background:#bbbbbb url(images/tabSeperatorBg.gif) repeat-x;
}

.level2text {
	background:#bbbbbb url(images/level2Bg.gif) repeat-x;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
	padding-left:20px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:bold;
	color:white;
}

.level2text a{
	text-decoration:none;
	color:white;

}

.level2text a:hover {
	text-decoration:underline;
	color:white;

}

.level2Bg {
	background:#bbbbbb url(images/level2Bg.gif) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.tabLiner {
	background:#9abffc url(images/moduleSelectorBg.gif) bottom repeat-x;
	padding:0px;
}

.sep1 {
	background:#999999;
}

.showPanelBg {
	background:url(images/showPanelTopBg.gif) repeat-x;
}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:none;
	color:#333366;
}

a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration:underline;
	color:#333333;
}

.hdrLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:none;
	color:#333333;
	font-weight:bold;
}

.hdrLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-decoration:underline;
	color:#333333;
	font-weight:bold;
}

.searchBox {
	border: 0px solid #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-left:2px;
	width:100px;
	background-color:#ffffef;
}

.searchBtn {
	border : 1px #cccccc solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width:30px;
	height:19px;
	background-color:#cccccc;
}

.lvtBg {
	background-color:#cccccc;

}

.lvtHeaderText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight:bold;
}

.lvtCol {
	border-top:1px solid #eeeeee;
	border-left:1px solid #eeeeee;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	background-color:#dadada;
	color:#666666;
	font-weight:bold;
}

.lvtColData {
	background-color:#fafafa;
}

.lvtColDataHover {
	background-color:#efefef;
}

.dvtSelectedCell {
	border-left:1px solid #cacaca;
	border-top:3px solid #999999;
	border-right:1px solid #cacaca;
	padding-left:20px;
	padding-right:20px;
	background-color:white;
	font-weight:bold;
}

.dvtUnSelectedCell {
	border-left:1px solid #cacaca;
	border-top:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	padding-left:20px;
	padding-right:20px;
	background-color:#efefef;
	cursor:pointer;
}

.dvtTabCache {
	border-bottom:1px solid #cacaca;
}

.dvtContentSpace {
	border-left:1px solid #cacaca;
	border-right:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	padding-left:0px;
}

.rightAddInfo {
	border-left:1px solid #a2a2a2;
	border-right:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
	border-top:1px solid #a2a2a2;
	background-color:#fafafa;
	padding:5px;
}

.dvtCellLabel {
	background-color:#f6f6f6;
	padding-right:10px;
	border-bottom:1px solid #eaeaea;
	color:#737373;
	white-space:nowrap;
}

.dvtCellInfo {
	padding-left:10px;
	border-bottom:1px solid #eaeaea;
	white-space:nowrap;
}

.rightMailMerge {
	border:1px solid #dddddd
}

.rightMailMergeHeader {
	border-bottom:1px solid #dddddd;
	padding:5px;
	font-size: 11px;
        line-height: 14px;
	background-color:#eaeaea;

}

.rightMailMergeContent {
	padding:5px;
	background-color:#fafafa;

}

.rightUpcomingActivitiesHeader{
	border-bottom:1px solid #ddddcc;
	padding:5px;
	background-color:#ffffdd;
}

.rightUpcomingActivitiesContent {
	padding:5px;
	background-color:#ffffef;
}

.detailedViewHeader{
	border-bottom:1px solid #999999;
	padding:5px; 
	background-color:#e5e5e5;

}

.detailedViewTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
	width:90%;
	background-color:#ffffff;
}

.detailedViewProdTextBox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
	width:85%;
	background-color:#ffffff;
}

.detailedViewTextBoxOn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
	width:90%;
	background-color:#ffffdd;
}

.detailedViewTextArea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	border:1px solid #bababa;
	padding-left:5px;
	width:95%;
	height:100px;
	background-color:#ffffff;
	text-align:left;
}

.moduleSearch {
	border:1px solid #dddddd;
	background-color:#ffffef;

}

.searchHdrBox {

	border-bottom:1px dashed #dddddd;
}

.advSearch {
	padding:10px;
	border-left:1px solid #eaeaea; 
	border-right:1px solid #eaeaea; 
	border-bottom:1px solid #eaeaea; 	
	overflow:auto;
	width:600px;
	height:150px;
	background-color:#ffffef;

}

.searchAlph {
	border:1px solid #dadada;
	background-color:#ffffff;
	width:10px

}

.searchNotFound {
	border:2px solid #ff3333;
	background-color:#fafafa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff0000;
	height:50px;
	width:640px;
}

.hiliteBtn4Search {
	border:1px solid #cccccc;
	background-color:#fafafa;
	line-height:37px;
	height:40px;
	padding:5px;
}

.loginTopBg {
	background:url(images/loginTopBg.gif) repeat-x;
}

.loginTopShade {
	background:url(images/loginTopShade.gif) repeat-x;
}

.loginBg{
	background:#448cEB url(images/loginBg.gif) repeat-x;
}

.textbox {
	border:1px solid #999999;
	background-color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width:120px;
	padding:2px;

}

.loginBottomBg {
	background:url(images/loginBottomBg.gif) repeat-x;
}

.loginSignin {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #448ceb;
	font-weight:bold;
}

.loginBillBoard {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#ffffff;
}

.mx {
}

.calTopBg {
	background:url(images/calBg.gif) repeat-x;
}

.calDisplay {
	border-left:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
}
.calBottomBg {
	background:url(images/calBottomBg.gif) repeat-x;
}

.calDayHourCell {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}
.calDayHour {
	border-top:2px solid #dadada;
}
.calDiv {
	overflow:auto; width:95%;height:320px;padding:0px;background-color:#fefefe;
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
}

.calHourOccupied {
	background-color:#ffffbb;

}

.calAddEvent {
	position:absolute;
	z-index:1000000;
	width:500px;

	left:200px;
	top:150px;
	border:2px solid #999999;
	background-color:#ffffff;
	padding:5px;
}

.addEventHeader{
	border-bottom:2px dotted #cccccc;
}

.addEventFooter{
	border-top:2px dotted #cccccc;
	height:40px;
}

.addEventInnerBox {
	border:1px dotted #dadada;

}

.cellScheduled {
	background-color:#ffffef;
	color:#7a7a7a;
}

.cellSchHover {
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-left:1px solid #dadada;
	border-top:1px solid #dadada;
	background-color:#ffffef;	
	color:#7a7a7a;	
}

.cellSch{
	border:0px;
	background-color:#ffffef;
	color:#7a7a7a;
}

.cellNormalHover {
	border-bottom:1px solid #999999;
	border-right:1px solid #999999;
	border-left:1px solid #dadada;
	border-top:1px solid #dadada;
	background-color:#ffffff;	
	color:#7a7a7a;	
}

.cellNormal {
	border:0px;
	background-color:#ffffff;
}

.calEventNormal {
        border:1px solid #999999;
        background-color:#99ffcc;

}

.calEventCritical {
        border:1px solid #999999;
        background-color:#FFCC33;
}
.tblPro1 {

border:2px solid #dadada;
       background-color:white;

}

.tblPro1IconCell {
    border-right:1px solid #dadada;
}

.tblPro1HeadingCell {
    font-weight:bold;
color:#4a4a4a;
}

.tblPro1ColHeader {
    background-color:#dadada;
    border-left:1px solid white;
    border-right:1px solid #999999;
    font-size: 11px;
    line-height: 14px;
    background-image:url(images/tblPro1ColBg.gif);
}

.tblPro1DataCell {
    border-bottom:1px solid #f5f5f5;
    color:#5a5a5a;
    font-size: 11px;
    line-height: 14px;

}

.divEventToDo {
overflow:auto;
height:150px;
border:1px solid #dadada;

}

.EventToDo{

}

.thumbnail{
    background-color:#ffffff;
padding: 7px;
border: 1px solid #ddd;
float: left;
	   margin-right: 10px;
	   margin-bottom: 15px;
}

.thumbnailcaption
{ font-size: 0.9em; padding-top: 0.2em ;	}

/* For Settings */

.lftMnuTab{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
color:#FFFFFF;
	  background-color:#BBBBBB;
	  border-left:1px solid #666666;
	  border-right:1px solid #666666;
	  border-top:0px solid #666666;
	  border-collapse:collapse;
	  text-align:right;
	  padding-top:0px;
	  padding-left:5px;
	  padding-right:5px;
	  vertical-align:top;
}

.lftMnuHdr{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
color:white;
	  background-color:#DDDDDD;
	  border-bottom:1px solid #BBBBBB;
	  text-decoration:none;
width:100%;
}

.lftMnuHdr tr td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
color:white;
	  background-color:#DDDDDD;
	  border-bottom:1px solid #BBBBBB;
	  text-align:left;
	  text-decoration:none;
height:20px;
	   padding-right:5px;
	   padding-left:0px;
}

a.lftMnuHdr{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
color:white;
	  background-color:#666666;
	  border-top:1px solid #BBBBBB;
	  border-bottom:1px solid #999999;
	  text-align:left;
	  text-decoration:none;
height:20px;
	   padding-left:5px;
	   padding-top:3px;
width:100%;
display:block;
}

a.lftMnuHdr:Hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
color:white;
	  background-color:#666666;
	  border-top:1px solid #BBBBBB;
	  border-bottom:1px solid #999999;
	  text-align:left;
	  text-decoration:none;
height:20px;
	   padding-left:5px;
	   padding-top:3px;
width:100%;
display:block;
}

a.lftSubMnu{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
display:block;
color:#666666;
height:20px;
width:95%;
	  text-align:left;
	  padding-left:15px;
	  text-decoration:none;
	  border-bottom:1px solid #BBBBBB;
	  padding-top:2px;
	  white-space:nowrap;
}

a.lftSubMnu:Hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
display:block;
color:#666666;
height:20px;
width:95%;
	  text-align:left;
	  padding-left:15px;
	  text-decoration:none;
	  border-bottom:1px solid #BBBBBB;
	  padding-top:2px;
	  white-space:nowrap;
	  background-color:#CCCCCC;
}

.padTab{
	padding-top:10px;
	padding-left:10px;
	padding-left:10px;
	padding-bottom:0px;
	vertical-align:top;
	text-align:left;
}

.controlTab{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
width:100%;
border:0px;
}	

.controlTab tr td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	font-weight:bold;
	text-decoration:none;
	vertical-align:bottom;
}

#company{
	position:relative;
	width:100%;
	height:230px;
	display:block;
	background-color:#FFFFFF;
	white-space:nowrap;
	overflow:auto;
	border:1px solid #CCCCCC;
}
								

#user{position:relative;left:0px;top:0px;width:100%;display:block;}
#studio{position:relative;left:0px;top:0px;width:100%;display:block;}
#comm{position:relative;left:0px;top:0px;width:100%;display:block;}
#config{position:relative;left:0px;top:0px;width:100%;display:block;}

#userTab{position:relative;left:0px;top:0px;width:100%;display:none;}
#studioTab{position:relative;left:0px;top:0px;width:100%;display:none;}


#scrollTab{
	position:relative;
	width:100%;
	height:350px;
	overflow:auto;
	border:0px solid #CCCCCC;
	display:block;
}

.dock{
	vertical-align:middle;
	text-align:left;
	padding-left:0px;
}
.imgDoc{
	cursor:pointer;
	border:0px;
}

#one{
	position:relative;
	display:block;
	width:245px;
}

#mnuTab{

   position:relative;

   overflow:auto;

   width:100%;

   display:block;

}

#mnuTab1{

   position:relative;

   overflow:auto;

   width:100%;

   display:none;

}

#mnuTab2{

   position:relative;

   overflow:auto;

   width:100%;

   display:none;

}


/* End of Settings */

.bggray{
	background-color: #dfdfdf;
}
.bgwhite{
	background-color: #FFFFFF;
}
.copy{
	font-size:9px;
	font-family: Verdana, Arial, Helvetica, Sans-serif;
}

#basicTab{
	position:relative;
	overflow:auto;
	width:100%;
	display:block;
}

#moreTab{
	position:relative;
	overflow:auto;
	width:100%;
	display:none;
}

/*Added for Advance Seearch*/
#scrollTab{
	position:relative;
	width:100%;
	height:350px;
	overflow:auto;
	border:0px solid #CCCCCC;
	display:block;
}

.dock{
	vertical-align:middle;
	text-align:left;
	padding-left:0px;
}

.imgDoc{
	cursor:pointer;
	border:0px;
}

#slideMnu{
	background-color:#BBBBBB;
		vertical-align:top;
}

#one{
	position:relative;
	display:block;
	width:245px;
}

.prdTab{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	width:100%;
	border-left:0px solid #CCCCCC;
	border-right:0px solid #CCCCCC;
	border-collapse: collapse;
}

.prdTab tr th{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	padding-left:5px;
	background-color:#E5E5E5;
	height:20px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
	border-bottom:1px solid #CCCCCC;
}

.prdTab tr td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	border-right:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	padding-left:5px;
	color:#000000;
	text-decoration:none;
	font-weight:normal;
	height:20px;
}

.delTxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	font-weight:normal;
	color:#000099;
	cursor:pointer;
}

/* Dashboard CSS */

.dashMain{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#EBEBEB;
	width:840px;
	border-left:1px solid #CBCBCB;
	border-right:1px solid #CBCBCB;
	border-bottom:1px solid #CBCBCB;
}

.dashMain tr th{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0px;
	border:0px solid #CBCBCB;
}
.dashMain tr td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-left:10px;
	border:0px solid #CBCBCB;
}

.dashMnuUnSel{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	text-align:left;
	padding:5px;
	height:20px;
	vertical-align:middle;
}

.dashMnuSel{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	text-align:left;
	background-color:#CBCBCB;
	font-weight:bold;
	color:#000000;
	padding:5px;
	height:20px;
	vertical-align:middle;
}

.dashInner{
	width:100%;
	border:0px solid #000000;
	padding:0px;
}

.dashInner tr td{
	width:100%;
	border:0px solid #000000;
	padding-left:0px;
	padding-bottom:0px;
	padding-right:0px;
	padding-top:0px;
}

#dashChart{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	background-color:#EBEBEB;
	width:640px;
	height:425px;
	overflow:auto;
	padding-left:5px;
	padding-top:10px;
	position:relative;
}

.dashSerial{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:#000000;
}

a.tagLink{
	color:#333333;
	text-decoration:none;
	font-family:arial, Helvetica, sans-serif;
}

a.tagLink:Hover{
	color:#000000;
	text-decoration:underline;

}


/*slide menu css*/

#mnuSlide{
	position:absolute;
	left:0px;
	top:100px;
}

a.submenu {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:100px;
	height:20px;
	padding-top:3px;
	padding-left:10px;
	border-bottom:1px solid #ECECEC;
	background-color:#CCCCCC;
	color:#000000;
	text-align:left;
	text-decoration:none;
	display:block;
}

a.submenu:Hover {
	background-color:#DDDDDD;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	width:100px;
	height:20px;
	padding-top:3px;
	padding-left:10px;
	border-bottom:1px solid #ECECEC;
	color:#000000;
	text-align:left;
	text-decoration:none;
	display:block;
}

#mnuKey{
	width:20px;
	cursor:pointer;
	height:20px;
	position:relative;
	top:0px;
	left:0px;
}

#slidemenu{
	height:525px;
	vertical-align:top;
	width:100px;
	background-color:#CCCCCC;
	border-right:1px solid #CCCCCC;
	opacity:.9;
	display:none;
}


/* New Home Page Css */

.hometop{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:white;
	text-decoration:none;
	text-align:left;
	padding-left:10px;
	background-image:url(images/hometop.gif);
	background-position:top left;
	background-repeat:repeat-x;
	height:35px;
	vertical-align:middle;
}

.homeBtm{
	background-image:url(images/HomeBtm.gif);
	background-position:top left;
	background-repeat:repeat-x;
	height:29px;
}

a.imageTab{
	background-color:#F5F5F5;
	border:0px solid #EBEBEB;
	width:30px;
	height:30px;
	display:block;
	padding-top:3px;
}

a.imageTab:Hover{
	background-color:#BFBFFF;
	border:0px solid #EBEBEB;
	width:30px;
	height:30px;
	display:block;
	opacity:.5;
}

.mnuTabH{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	width:100%;
	border:0px solid #000000;
}

.mnuTabH tr td{
	border-bottom:1px solid #EBEBEB;
	padding-left:5px;
	vertical-align:middle;
}

.mnuSel td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding-left:5px;
	background-color:#EBEBEB;
	height:30px;
	text-decoration:none;
	padding-top:5px;
	cursor:pointer;
	padding-top:5px;
}
	
.mnuSel td:Hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	padding-left:5px;
	height:30px;
	text-decoration:underline;
	padding-top:5px;
	cursor:pointer;
	padding-top:5px;
	background-color:#EBEBEB;
}

.mnuUnSel td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#00487F;
	padding-left:5px;
	background-color:#D7D7D7;
	height:30px;
	text-decoration:none;
	padding-top:5px;
	cursor:pointer;
	padding-top:5px;
}
	
.mnuUnSel td:Hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#00487F;
	padding-left:5px;
	height:30px;
	text-decoration:underline;
	padding-top:5px;
	cursor:pointer;
	padding-top:5px;
	background-color:#D7D7D7;
}		

.tabRht{
	background-image:url(images/tabRht.gif);
	background-position:top left;
	background-repeat:repeat-y;
	width:31px;
}

.padTab1{
	border-bottom:15px solid #EBEBEB;
	border-left:15px solid #EBEBEB;
	border-top:15px solid #EBEBEB;
	vertical-align:top;
	padding:5px;
}

.frmSelect{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	border:1px #EBEBEB;
}

/* clock */

.citystyle{
	position:relative;
	top:0px;
	left:0px;
	text-align:left;

}
#theClockLayer{
	position:relative;
	height:180px;
	left:20px;
	text-align:center;
}
.handsanddotsstyle{
	margin-top:10px;
	position:absolute;
	top:0px;
	left:0px;
	width:2px;
	height:2px;
	font-size:2px;
	background-color:#000000;
}

.facestyle{
	margin-top:10px;
	position:absolute;
	top:0px;
	left:0px;
	width:15px;
	height:15px;
	text-align:center;
	font-family:arial,sans-serif;
	font-size:10px;
	color:#000000;
}
.datestyle{
	margin-top:20px;
	position:absolute;
	top:0px;
	left:0px;
	width:100px;
	text-align:center;
	font-family:arial,sans-serif;
	font-size:10px;
	color:#000000;
}
.ampmstyle{
	margin-top:23px;
	position:absolute;
	top:0px;
	left:0px;
	width:20px;
	text-align:center;
	font-family:arial,sans-serif;
	font-size:10px;
	color:#000000;
}
#wclock{
	position:absolute;
	left:100px;
	top:100px;
	visibility:hidden;
	display:block;
	background-color:#CCCCCC;
	width:175px;
}

.leftFormBorder1 {
	border: 1px solid #AFC8E4;
	background-color: #FFFFFF;
	opacity:.7;
}


/* Calculator */
.calcBg {
	background: url(images/cal_bg.gif);
	border: 1px solid #009900;
}
.calcResult {
	width: 100%;
	height: 25;
	background-color: #FFFFCC;/*CBDFD6*/
	border-top: 1px solid #CCC;
	border-left: 0px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	font-size: 10;
	text-align: right;
}
.calcMem {
	width: 100%;
	height: 25;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 0px;
	border-bottom: 1px solid #CCC;
	background-color: #FFFFCC;/*CBDFD6*/
	font-family: Arial;
	font-size: 10;
	color: #BBB;
	text-align: left;
}
.calcBlackBtn, .calcGreyBtn, .calcBigBtn, .calcCancBtn, .calcMemBtn, .calcBackBtn {
	border: none;
	width: 10;
	height: 20;
	font-size: 11px;
	color: #FFF;
	text-align:left;
}
.calcBackBtn {
	background: url(images/calc_back_btn.gif) no-repeat;
	width:25px;
}
.calcBlackBtn {
	background: url(images/calc_black_btn.gif) no-repeat;
	width:25px;
}
.calcGreyBtn {
	background: url(images/calc_grey_btn.gif) no-repeat;
}
.calcCancBtn {
	background: url(images/calc_canc_btn.gif) no-repeat;

}
.calcMemBtn {
	background: url(images/calc_mem_btn.gif) no-repeat;
	width:25px;
}
/* profile */

.prvPrfBigText {
		font-family: Arial, Helvetica, sans-serif;
			font-size: 14px;
}

.prvPrfTopBg {
		background-color:#ebebeb;
}

.prvPrfBottomBg {
		background-color:#ebebeb;
}

.prvPrfOutline {
		border:1px solid #ebebeb;
}

.prvPrfSelectedTab {
		background:url(images/prvPrfSelectedTab.gif) repeat-x;
		cursor:pointer;

}

.prvPrfUnSelectedTab {
		background:url(images/prvPrfUnSelectedTab.gif) repeat-x;
		cursor:pointer;

}

.prvPrfTexture {
		background:url(images/prvPrfTexture1.gif);

}
.prvPrfBgOn{
		background-color:#33ee33;
}
.prvPrfBgOff{
		background-color:#cccccc;
}

.prvPrfHoverOn {
		background-color:#ffffef;
			
}
.prvPrfHoverOut {
		background-color:#ffffff;
}

.prvPrfBgImgGlobal {
		background:url(images/prvPrfBgImgGlobal.jpg) top right no-repeat;
}
.prvPrfBgImgTab {
		background:url(images/prvPrfBgImgTab.jpg) top right no-repeat;
}
.prvPrfBgImgStandard {
		background:url(images/prvPrfBgImgStandard.jpg) top right no-repeat;
}
.prvPrfBgImgUtils {
		background:url(images/prvPrfBgImgUtils.jpg) top right no-repeat;
}
.prvPrfBgImgField {
		background:url(images/prvPrfBgImgField.jpg) top right no-repeat;
}

.prvPrfTabSample {
		border-top:1px solid #ababab;
		border-left:1px solid #ababab;
		border-right:1px solid #a1a1a1;
}

/*  Organization */

.orgTab{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
color:#000000;
border:0px solid #9B9B9B;
	   border-collapse:collapse;
width:100%;
}

.orgTab tr th{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
height:20px;
	   padding-left:5px;
}

.orgTab tr td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:none;
	padding-left:5px;
height:20px;
	   border-bottom:1px solid #CCCCCC;
	   border-right:1px solid #CCCCCC;
}

.globTab{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
color:#000000;
border:1px solid #999999;
	   border-collapse:collapse;
width:100%;
}

.globTab tr th{
	text-align:right;
	background-color:#CCCCCC;
	border-bottom:1px solid #999999;
	border-right:2px solid #999999;
color:#000000;
	  font-family:Arial, Helvetica, sans-serif;
	  font-size:12px;
	  text-decoration:none;
	  font-weight:bold;
height:20px;
	   padding-right:5px;

}

.globTab tr td{
	text-align:left;
border:1px solid #CCCCCC;
color:#666666;
	  font-family:Arial, Helvetica, sans-serif;
	  font-size:11px;
	  text-decoration:none;
	  font-weight:none;
	  padding-left:5px;
height:20px;
}

#orgLay{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
width:500px;
border:3px solid #CCCCCC;
	   background-color:#FFFFFF;
padding:5px;
}


/* Groups */

.groupul{
margin:0px;
	   font-family:Arial, Helvetica, sans-serif;
	   font-weight:bold;
	   font-size:12px;
color:#000000;
	  text-decoration:underline;
	  text-align:left;
}

.groupli{
	margin-left:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:12px;
	text-decoration:none;
color:#333333;
	  list-style-type:none;
	  text-align:left;
}

#DeleteLay{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
width:300px;
border:3px solid #CCCCCC;
	   background-color:#FFFFFF;
padding:5px;
}

.classBtn{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-weight:normal;
	font-size:11px;
	background-color:#999999;
border:1px solid #666666;
	   text-align:center;
}
.txtBox{
	width:85%;
	border:1px solid #666666;
       	font-family:Arial, Helvetica, sans-serif;
       	font-size:11px;
}

/*cloud css*/

.statechange
{
	position:absolute;
	visibility:hidden;
	left:10px;
	top:20px;
	width:300px;
	border:3px solid #CCCCCC;
	background-color:#FFFFFF;
}
			    

.cloudLft{
	background-image:url(images/cloud_left_bdr.gif);
	background-position:left top;
	background-repeat:repeat-y;
}

.cloudRht{
	background-image:url(images/cloud_right_bdr.gif);
	background-position:right top;
	background-repeat:repeat-y;
}

a.tagit{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000066;
	text-decoration:none;
}

a.tagit:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-decoration:none;
	background-color:#000066;
	opacity:.7;
}

/*quickcreate css*/

.qcWindow {
	    background-color:white;
	        border:2px solid #999999;
}

.qcHeader{
 
	    background:url(images/qcBg.gif) repeat-x;
            background-color:gray;
	    color:black;
            font-family: Arial, Helvetica, sans-serif;
	    font-size: 12px;
            line-height: 19px;
	    padding-left:10px;
					       
}
.qcTextBox{
	        border:1px solid #999999;
	        width:90%;
						       
}
.qcTextArea{
	        border:1px solid #999999;
                width:90%;
	        height:70px;
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 11px;

}
.qcTransport{
                background-color:#ededed;

}
/* PICK LIST */
ul li{
	padding-bottom:2px;
	padding-top:2px;
}
.leadTable{
	border:3px solid #CCCCCC;
	border-collapse:collapse;
}

.leadTable tr td{
	border:0px solid #CCCCCC;
}

/* RSS STYLES */

.subHdr{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
color:#FFFFFF;
      background-image:url(images/rssHeader.gif);
      background-position:top left;
      background-repeat:repeat-x;
height:27px;
padding:0px 10px 0px 10px;
        vertical-align:middle;
}
.delBg{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
color:#FFFFFF;
      background-image:url(images/rssdelete.gif);
      background-position:top left;
      background-repeat:repeat-x;
height:27px;
padding:0px 10px 0px 10px;
        vertical-align:middle;
}
#rssScroll{
    font-family:Arial, Helvetica, sans-serif    ;
    font-size:12px;
    background-color:#FFFFFF;
width:100%;
height:150px;
overflow:auto;
border:0px solid #000000;
}

.rssTable{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
width:100%;
border:0px solid #000000;
}
.rssTable tr th{
    background-color:#F0F0F0;
    text-align:left;
    border-bottom:1px solid #E5E5E5;
    border-top:1px solid #FFFFFF;
color:#000000;
      font-weight:normal;
      padding-left:5px;
      padding-right:5px;
height:20px;
}

.rssTable tr td{
    text-align:left;
border:0px solid #000000;
       font-family:Arial, Helvetica, sans-serif;
       font-size:11px;
       white-space:nowrap;
padding:5px;
height:20px;
}
.frameHdr{
height:32px;
       background-image:url(images/rssframeHdr.gif);
       background-repeat:repeat-x;
       background-position:top left;
       font-family:Arial, Helvetica, sans-serif;
       font-size:12px;
       font-weight:bold;
       text-align:left;
       padding-left:5px;
color:#FFFF00;
      vertical-align:middle;
border:0px solid #000000;
}

.forwardBg{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
color:#000000;
      background-image:url(images/rssforward.gif);
      background-position:top left;
      background-repeat:repeat-x;
height:27px;
padding:0px 10px 0px 10px;
        vertical-align:middle;
        background-color:#D7D7D7;
}

