.st-content {
	font: 11px/1.5em "Lucida Grande","Lucida Sans Unicode",verdana,geneva,sans-serif;
	float: left;
	width: 170px;
	margin: 0;
	padding-top: 0;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 1px;
}
.st-message {
	background: url("images/comment_footer.gif") no-repeat left bottom;
}
.st-message p{
	padding: 5px 10px 5px 10px;
	margin: 0;
	word-wrap: break-word;
}
.st-author-info{
	margin: 0;
	background: #fff url("images/comment_header.gif") no-repeat left bottom;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 7px;
	padding-left: 5px;
	font-weight: bold; 
	color: #6699ff; 
	font-size: 8pt; 
}
.st-avatar{
	float: left;
	padding: 0px 0px 0px 5px;
	margin: 0;
}

.st-date{
	float: left;
}
.st-date-time{
	font-size:11px;
}
.st-author-name{
	font-weight: bold;
}
.st-comment-cell{
	padding-top: 10px;
}
.gray{
	color:#5B5B5B; 
	text-decoration:none;
}
.st-footer{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:center;
}
a {
	text-decoration:none;
	color: #6699ff; 
}
a:hover {
	text-decoration:underline;
}

#smiley_box{
	width:95px;
	position:absolute;
	display:none;
	margin-left: 55px;
	border: 0px;
}
.smiley_top{
	background-image:url('images/smiley_top.gif');
	background-repeat:no-repeat;
	height:30px;
	padding-left: 36px;
	border:0px;
	
}
.smiley_middle{
	background-image:url('images/smiley_middle.gif');
	background-repeat:repeat-y;	
	background-position:bottom left;
	padding-left:7px;
	padding-right:7px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	border:0px;
	
}
.smiley_middle span{
	position:relative;
}

.smiley_bottom{
	background-image:url('images/smiley_bottom.gif');
	background-repeat:no-repeat;
	background-position:bottom left;
	height:44px;
	top:-6px;
	border:0px;
	
}
#smiley_box a {
	float: left; text-decoration: none
}
#smiley_box a:link {
	color: #808080
}
#smiley_box a:hover {
	color: #333; background-color: #efefef
}
#smiley_box a:active {
	color: #808080
}
#smiley_box a:visited {
	color: #808080
}
#smiley_box img {
	border: 0px;
}
